<div>
  <h2 id="page-heading" data-cy="ChiTietLenhSanXuatHeading">
    <span>Chi Tiet Lenh San Xuats</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-chi-tiet-lenh-san-xuat"
        [routerLink]="['/chi-tiet-lenh-san-xuat/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Chi Tiet Lenh San Xuat </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <div class="alert alert-warning" id="no-result" *ngIf="chiTietLenhSanXuats?.length === 0">
    <span>No chiTietLenhSanXuats found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="chiTietLenhSanXuats && chiTietLenhSanXuats.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="reelID"><span>Reel ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="partNumber"><span>Part Number</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="vendor"><span>Vendor</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lot"><span>Lot</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="userData1"><span>User Data 1</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="userData2"><span>User Data 2</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="userData3"><span>User Data 3</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="userData4"><span>User Data 4</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="userData5"><span>User Data 5</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="initialQuantity"><span>Initial Quantity</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="msdLevel"><span>Msd Level</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="msdInitialFloorTime"><span>Msd Initial Floor Time</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="msdBagSealDate"><span>Msd Bag Seal Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="marketUsage"><span>Market Usage</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="quantityOverride"><span>Quantity Override</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="shelfTime"><span>Shelf Time</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="spMaterialName"><span>Sp Material Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="warningLimit"><span>Warning Limit</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="maximumLimit"><span>Maximum Limit</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="comments"><span>Comments</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="warmupTime"><span>Warmup Time</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="storageUnit"><span>Storage Unit</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="subStorageUnit"><span>Sub Storage Unit</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="locationOverride"><span>Location Override</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="expirationDate"><span>Expiration Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="manufacturingDate"><span>Manufacturing Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="partClass"><span>Part Class</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="sapCode"><span>Sap Code</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="trangThai"><span>Trang Thai</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="checked"><span>Checked</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lenhSanXuat.id"><span>Lenh San Xuat</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let chiTietLenhSanXuat of chiTietLenhSanXuats; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/chi-tiet-lenh-san-xuat', chiTietLenhSanXuat.id, 'view']">{{ chiTietLenhSanXuat.id }}</a>
          </td>
          <td>{{ chiTietLenhSanXuat.reelID }}</td>
          <td>{{ chiTietLenhSanXuat.partNumber }}</td>
          <td>{{ chiTietLenhSanXuat.vendor }}</td>
          <td>{{ chiTietLenhSanXuat.lot }}</td>
          <td>{{ chiTietLenhSanXuat.userData1 }}</td>
          <td>{{ chiTietLenhSanXuat.userData2 }}</td>
          <td>{{ chiTietLenhSanXuat.userData3 }}</td>
          <td>{{ chiTietLenhSanXuat.userData4 }}</td>
          <td>{{ chiTietLenhSanXuat.userData5 }}</td>
          <td>{{ chiTietLenhSanXuat.initialQuantity }}</td>
          <td>{{ chiTietLenhSanXuat.msdLevel }}</td>
          <td>{{ chiTietLenhSanXuat.msdInitialFloorTime }}</td>
          <td>{{ chiTietLenhSanXuat.msdBagSealDate }}</td>
          <td>{{ chiTietLenhSanXuat.marketUsage }}</td>
          <td>{{ chiTietLenhSanXuat.quantityOverride }}</td>
          <td>{{ chiTietLenhSanXuat.shelfTime }}</td>
          <td>{{ chiTietLenhSanXuat.spMaterialName }}</td>
          <td>{{ chiTietLenhSanXuat.warningLimit }}</td>
          <td>{{ chiTietLenhSanXuat.maximumLimit }}</td>
          <td>{{ chiTietLenhSanXuat.comments }}</td>
          <td>{{ chiTietLenhSanXuat.warmupTime | formatMediumDatetime }}</td>
          <td>{{ chiTietLenhSanXuat.storageUnit }}</td>
          <td>{{ chiTietLenhSanXuat.subStorageUnit }}</td>
          <td>{{ chiTietLenhSanXuat.locationOverride }}</td>
          <td>{{ chiTietLenhSanXuat.expirationDate }}</td>
          <td>{{ chiTietLenhSanXuat.manufacturingDate }}</td>
          <td>{{ chiTietLenhSanXuat.partClass }}</td>
          <td>{{ chiTietLenhSanXuat.sapCode }}</td>
          <td>{{ chiTietLenhSanXuat.trangThai }}</td>
          <td>{{ chiTietLenhSanXuat.checked }}</td>
          <td>
            <div *ngIf="chiTietLenhSanXuat.lenhSanXuat">
              <a [routerLink]="['/lenh-san-xuat', chiTietLenhSanXuat.lenhSanXuat?.id, 'view']">{{ chiTietLenhSanXuat.lenhSanXuat?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/chi-tiet-lenh-san-xuat', chiTietLenhSanXuat.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/chi-tiet-lenh-san-xuat', chiTietLenhSanXuat.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(chiTietLenhSanXuat)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="chiTietLenhSanXuats && chiTietLenhSanXuats.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
